<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Form Tambah Data Contact</h2>
            <% if (typeof errors !== 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <% errors.forEach(element => { %>
                            <li><%= element.msg %> </li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>
            <form method="POST" action="?_method=PUT">
                <input type="hidden" name="_method" value="PUT">
                <div class="mb-3">
                    <label for="nama" class="form-label"></label>
                    <input type="text" class="form-control" id="nama" name="nama" required value="<% if(typeof data !== 'undefined'){ %><%= data.nama %><% } %>" >
                </div>
                <div class="mb-3">
                    <label for="nomor" class="form-label">Nomor Hp</label>
                    <input type="text" class="form-control" id="nomor" name="noHP" required value="<% if(typeof data !== 'undefined'){ %><%= data.noHP %><% } %>">
                </div>
                <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" value="<% if(typeof data !== 'undefined'){ %><%= data.email %><% } %>">
                </div>
                <a href="/contact" class="btn btn-primary me-3">Back</a><button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>