<div class="container">
    <div class="row mt-4">
        <div class="col text-center">
            <img src="img/Blackbird.png" alt="" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Fazar adi putra</h1>
            <p class="lead">FullStack | UI / Ux</p>
        </div>
    </div>
</div>
<script src="js/script.js"></script>